<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Transactions</title>
    <script>
        function saveTransaction() {
            if($('#type').val() == 'INCOME'){
                $('#iCat').val($('#cat').val());
                $('#iDate').val($('#date').val());
                $('#iAmount').val($('#amount').val());
                $('#iDescription').val($('#description').val());
                $('#iCategory').val($('#category').val());
                $('#iRecurring').val($('#recurring').val());
                $("#iTransactionForm").submit();
            }else{
                $('#oCat').val($('#cat').val());
                $('#oDate').val($('#date').val());
                $('#oAmount').val($('#amount').val());
                $('#oDescription').val($('#description').val());
                $('#oCategory').val($('#category').val());
                $('#ORecurring').val($('#recurring').val());
                $("#oTransactionForm").submit();
            }
        }

        function editTransaction(id, type, catId, transactionDate, amount, description) {
            $('#type').val(type)
            $('#cat').val(catId);
            $('#date').val(transactionDate.split(" ")[0]);
            $('#amount').val(amount < 0 ? amount * -1 : amount);
            $('#description').val(description);
            if (type == 'INCOME')
                $('#iId').val(id);
            else
                $('#oId').val(id);
        }
    </script>
</head>
<body>
    <div layout:fragment="content" class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <h2>Transactions</h2>
                <hr/>
                <div>
                    <div class="form-group">
                        <label>Type</label>:
                        <select class="form-select form-control" id="type" aria-label="Select Transaction Type" th:field="*{types}">
                            <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="date">Date</label>:
                        <input type="date"
                               class="form-control"
                               id="date"
                               autofocus="autofocus"
                               th:value="${transactionDate.now()}"/>
                    </div>
                    <div class="form-group">
                        <label>Category</label>:
                        <select class="form-select form-control" id="cat" aria-label="Select Category" th:field="*{categories}">
                            <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Amount</label>:
                        <input type="number" class="form-control" id="amount" name="amount" autofocus="autofocus" />
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="recurring">
                        <label class="form-check-label" for="recurring">
                            Recurring
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Description</label>:
                        <input type="text" class="form-control" id="description" autofocus="autofocus" />
                    </div>
                    <button type="button" class="btn btn-success" onclick="saveTransaction()">Save</button>
                    <button type="button" class="btn btn-light" onclick="location.reload()">Reset</button>
                </div>
            </div>
            <form id="iTransactionForm" style="display: none" hidden="hidden" th:action="@{/transactions/income}" modelAttribute="incomeForm" method="POST">
                <input name="id" id="iId" value="-1"/>
                <input name="category" id="iCat" />
                <input name="transactionDate" id="iDate" />
                <input name="amount" id="iAmount" />
                <input name="recurring" id="iRecurring" />
                <input name="description" id="iDescription" />
            </form>
            <form id="oTransactionForm" style="display: none" hidden="hidden" th:action="@{/transactions/outcome}" modelAttribute="outcomeForm" method="POST">
                <input name="id" id="oId" value="-1"/>
                <input name="category" id="oCat" />
                <input name="transactionDate" id="oDate" />
                <input name="amount" id="oAmount" />
                <input name="recurring" id="ORecurring" />
                <input name="description" id="oDescription" />
            </form>
        </div>

        <div class="row mb-1 ">
            <div class="col-11 p-0">
                <form th:action="@{/transactions/search}" modelAttribute="incomeForm" method="get">
                    <div class="input-group">
                        <input th:value="${param.query}" type="text" class="form-control" name="query" placeholder="Type something to search..." />

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-info">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1 p-0 d-flex">
               <div class="dropdown ml-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/transactions}">All</a>
                        <a class="dropdown-item" th:href="@{/transactions(filter='INCOME')}">Incomes</a>
                        <a class="dropdown-item" th:href="@{/transactions(filter='EXPENSE')}">Outcomes</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-12 p-0" th:if="${param.query} and ${transactions.isEmpty()}">
                <div class="alert alert-info">
                    Nothing found, try searching different keyword.
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaction: ${transactions}">
                        <td th:text="${transaction.getId()}" />
                        <td th:text="${transaction.getTransactionDate().toString().split(' ')[0]}" />
                        <td th:text="${transaction.getDescription()}" />
                        <td th:text="${transaction.getCategory().getName()}" />
                        <td th:if="${transaction.getAmount() > 0}" class="text-success" th:text="${transaction.getAmount()}" />
                        <td th:if="${transaction.getAmount() < 0}" class="text-danger" th:text="${transaction.getAmount()}" />
<!--                        <td><a th:href="@{/transactions/delete/{id}(id=${transaction.id})}" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></a></td>-->
                        <td>
                            <btn th:attr="onclick='editTransaction('
                             + ${transaction.getId()} + ','
                             + '\'' + ${transaction.getType().toString()} + '\','
                             + ${transaction.getCategory().getId()} + ','
                             + '\'' + ${transaction.getTransactionDate()} + '\','
                             + ${transaction.getAmount()} + ','
                             + '\'' + ${transaction.getDescription()} + '\')'" class="btn btn-light">
                                <i class="fa fa-edit fa-lg"></i>
                            </btn>
                            <a th:href="@{/transactions/delete/{id}(id=${transaction.id})}" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Total :</th>
                        <td th:if="${sum > 0}" class="text-white bg-success" th:text="${sum}" />
                        <td th:if="${sum < 0}" class="text-white bg-danger" th:text="${sum}" />
                        <td th:if="${sum == 0}" class="text-white bg-info" th:text="${sum}" />
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
